@import "common_style.css";

/*================MAIN=========== */
main {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    margin: auto;
    padding: 75px 61px 25px 61px;
    background-color: #fff;
    border-top: 1px solid #f1f7fb;
    border-bottom: 1px solid #f1f7fb;
}
.recentPosts {
    display: flex;
    flex-direction: column;
    width: 75%;
}
.categAndArch {
    width: 22%;
}

/* -------RECENT POSTS------- */
h2 {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 32px;
    font-weight: 200;
    margin: 0;
    text-transform: uppercase;
    color: #263555;
}
.recentPosts h4 {
    margin: 0 0 5px 40px;
    font-family: 'ArialRegular', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: #263555;
}
.apartmentsHeader,
.mountainHeader {
    position: relative;
}
.postedBy,
.commentsCounter {
    position: absolute;
    display: inline-block;
    margin: 0 0 0 40px;
    font-family: 'ArialRegular', sans-serif;
    font-size: 10px;
    color: #868f8f;
}
.commentsCounter {
    right: 60px;
}
.apartments img,
.mountain img {
    float: left;
    width: 288px;
    height: 225px;
    margin-right: 18px;
}
.apartmentsContent,
.mountainContent {
    margin-top: 29px;
    width: 100%;
}
.apartmentsContent > h6,
.mountainContent > h6 {
    margin-bottom: 15px;
    font-family: 'ArialRegular', sans-serif;
    font-size: 13px;
    line-height: 1.5;
    color: #263555;
}
.apartmentsContent > p,
.mountainContent > p {
    font-family: 'ArialRegular', sans-serif;
    font-size: 11px;
    line-height: 1.3;
    color: #4e5050;
}
.mountainContent > div,
.apartmentsContent > div {
    text-align: center;
}
.mountainContent .detailsButton,
.apartmentsContent .detailsButton {
    margin-top: 20px;
    font-family: 'ArialRegular', sans-serif;
    font-size: 12px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #bbb4b4;
}

/* --------ДАТА В СИНЕМ КРУЖОЧКЕ------- */
.apartmentsHeader:before,
.mountainHeader:before { 
    display: box;                   
    display: -moz-box;             
    display: -webkit-box;
    box-align: center;              
    -moz-box-align: center;         
    -webkit-box-align: center;
    position: absolute;
    text-align: center;
    font-family: "ArialRegular", sans-serif;
    font-size: 9px;
    text-transform: uppercase;
    color: #fff; 
    width: 31px;
    height: 31px;
    line-height: 1.2;     
    background-image: url(../img/main_img/date_marker.png);
}
.apartments,
.mountain {
    margin-top: 45px;
    margin-bottom: 45px;
    position: relative;
}

/* ----------------APPARTMENTS-------------- */
.apartmentsHeader:before {
    content: " \0a 23 \0a apr";
}

/* -----------------LINE------------ */
.line {
    margin: 0; 
    border-top: 1px solid #dedbdb;
}

/* ---------MOUNTAIN-------- */
.mountainHeader:before {
    content: "28 \0a apr";
}

/* ============ASIDE=========== */
.categories > ul,
.archive > ul{
    margin-top: 45px;
    padding: 0;
    margin-bottom: 45px;
}
.categoriesItems,
.archiveItems {
    list-style: none;
    line-height: 1.9;
}
.categoriesItems > a,
.archiveItems > a{
    font-family: "ArialRegular", sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: #263555;
}
.categoriesItems:before,
.archiveItems:before {
    content: "🡒 \a0 \a0 \a \a0";
    font-size: 10px;
    color: #38afe5;   
}

